@import '../_variables';

.layout {
  display: flex;
  height: 100vh; // Full height layout for the entire viewport
}

.layout-main {
  flex-grow: 1; // Take up the remaining space beside the sidebar
  overflow-y: auto; // Enable vertical scrolling for the main content
  background-color: $background-black;
  padding: $padding-large;
  color: $white-color;
}
