@import '../_variables';

.input {
  display: flex;
  flex-direction: column;
  gap: $margin-small;
  color: $white-color;

  &__label {
    font-size: $font-size-body;
    color: $white-color;
  }

  &__field {
    background-color: $background-dark;
    border: 1px solid $background-graphite;
    color: $white-color;
    padding: $padding-small;
    border-radius: $border-radius;
    font-size: $font-size-body;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $primary-color;
    }

    &:disabled {
      background-color: $background-graphite;
      color: $text-muted;
      cursor: not-allowed;
    }
  }

  &--error .input__field {
    border-color: $error-color;
  }

  &__error-text {
    font-size: $font-size-small;
    color: $error-color;
  }
}
