@import '../_variables';

.navbar {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
    gap: $gap-large; /* Spacing between nav items */
    padding-left: $padding-large; /* Padding on the left for alignment */
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $white-color;

    &.active {
        color: $primary-color;
    }

    &:hover {
        color: $primary2-color;
    }

    .nav-item-icon {
        width: 24px;
        height: 24px;
        fill: currentColor;
    }
}
