@import '../_variables';

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $gap-large;
    padding-left: $padding-large;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $white-color;

    &.active {
        color: $primary-color;
    }

    &:hover {
        color: $primary2-color;
    }

    .nav-item-icon {
        width: 24px;
        height: 24px;
        fill: currentColor;
    }
}
