@import '../_variables';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $space-large;

  &__button {
    background-color: $background-dark-gray;
    color: $text-color-white;
    border: none;
    padding: $space-small $space-medium;
    margin: 0 $space-small;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover:not(:disabled) {
      background-color: $primary-color;
    }

    &.active {
      background-color: $primary-color;
      font-weight: bold;
    }

    &:disabled {
      background-color: $background-dark-gray;
      color: $text-muted-color;
      cursor: not-allowed;
    }
  }
}
