@import '@/styles/_variables';

.cart {
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: $space-medium;

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $space-small;
      background-color: $background-dark-gray;
      border-radius: $border-radius;

      .item-details {
        flex: 1;

        h2 {
          font-size: $font-size-large;
          margin-bottom: $space-small;
        }

        p {
          font-size: $font-size-small;
          color: $text-muted-color;
        }
      }

      .item-actions {
        display: flex;
        align-items: center;
        gap: $space-small;

        input {
          width: 50px;
          text-align: center;
          background-color: $background-graphite;
          color: $text-color-white;
          border: 1px solid $color-border;
          border-radius: $border-radius;
          padding: $space-small;
          font-size: $font-size-small;
        }
      }
    }
  }

  .cart-summary {
    margin-top: $space-large;
    padding: $space-medium;
    background-color: $background-dark-gray;
    border-radius: $border-radius;

    h2 {
      font-size: $font-size-h2;
      margin-bottom: $space-medium;
    }

    p {
      font-size: $font-size-body;
      margin-bottom: $space-small;
    }

    .error {
      color: $color-error;
      margin-bottom: $space-medium;
    }

    .success {
      color: $color-success;
      margin-bottom: $space-medium;
    }

    button {
      margin-top: $space-medium;
    }
  }
}
