@import '../_variables';

.filter-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: $background-dark-gray;
  color: $text-color-white;
  box-shadow: -2px 0 8px $color-shadow;
  z-index: 200;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-medium;
    border-bottom: 1px solid $color-border;

    h2 {
      font-size: $font-size-h2;
    }

    .filter-bar__close {
      background: none;
      border: none;
      font-size: $font-size-large;
      color: $text-color-white;
      cursor: pointer;
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    padding: $space-medium;

    .genre-selection,
    .filter-rating-range,
    .filter-year-range {
      margin-bottom: $space-medium;
    }
  }

  &__section {
    margin-bottom: $space-large;

    h3 {
      margin-bottom: $space-small;
      font-size: $font-size-h3;
    }
  }

  &__sort-options,
  &__genres,
  &__range {
    display: flex;
    gap: $space-small;
    flex-wrap: wrap;

    input,
    button {
      padding: $space-small;
      border: 1px solid $color-border;
      background: $background-black;
      color: $text-color-white;
      border-radius: $border-radius;
    }

    button:hover,
    input:hover {
      border-color: $primary-color;
    }
  }

  &__footer {
    padding: $space-medium;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-border;

    .filter-bar__clear,
    .filter-bar__apply {
      flex: 1;
      padding: $space-small;
      margin: 0 $space-small;
      border: none;
      background-color: $primary-color;
      color: $text-color-white;
      border-radius: $border-radius;
      cursor: pointer;
    }

    .filter-bar__clear {
      background-color: $secondary-color;
    }

    .filter-bar__apply:hover {
      background-color: $primary-faded-color;
    }
  }
}
