@import '../_variables';

.layout {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 240px;
    flex-shrink: 0;
    background-color: $background-dark;
    color: $white-color;
  }

  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: $background-black;
    overflow-y: auto;
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: $padding-large;
    color: $white-color;

    .user-controls {
      margin-bottom: $padding-large;
    }
  }
}
