@import '../_variables';

.layout {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  height: 100vh;
  width: 100%; /* Full viewport width */

  .main {
    margin-left: $sidebar-width; /* Offset for the fixed sidebar */
    flex-grow: 1; /* Allow the main section to fill the remaining space */
    background-color: $background-black;
    overflow-y: auto; /* Enable scrolling for the content */
  }
}
