@import '../_variables';

.layout {
  display: flex;
  height: 100vh;

  .layout-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .layout-main {
    flex-grow: 1;
    overflow-y: auto;
    padding: $padding-large;
    background-color: $background-black;
    color: $white-color;

    .user-controls {
      margin-bottom: $padding-large; // Space between UserControls and content
    }
  }
}
