@import '../_variables';

.sidebar {
  width: $sidebar-width; /* Use the defined variable for width */
  background-color: $background-dark; /* Background color */
  position: fixed; /* Fix the sidebar to the left */
  top: 0;
  left: 0;
  height: 100%; /* Full height of the viewport */
  color: $white-color; /* Text color */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Distribute elements (logo, nav, footer) */
  padding: $padding-standard; /* Add consistent padding for the entire sidebar */
}

.sidebar-logo {
  text-align: center;
  margin-bottom: $margin-large;

  img {
    max-width: 150px;
    height: auto;
  }
}

.sidebar-footer {
  text-align: center;
  font-size: $font-size-small;
  color: $text-muted;
  border-top: 1px solid $border-color;
  padding-top: $margin-small;
}
