@import '../_variables';

.user-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-standard $padding-large;
  background-color: $background-black;
  position: sticky;
  top: 0;
  z-index: 100;

  &__left {
    display: flex;
    align-items: center;
    gap: $gap-medium; 
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $gap-medium;
  }

  &__search {
    display: flex;
    align-items: center;
    flex-grow: 1;

    input {
      margin-right: $gap-small;
      width: 100%;
    }
  }

  &__filter {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
