@import '../_variables';

.user-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-standard $padding-large;
  background-color: $background-black;

  position: sticky; /* Sticky instead of fixed */
  top: 0; /* Sticks to the top of the container */
  z-index: 100; /* Ensure it stays above content */


  &__actions {
    display: flex;
    align-items: center;
    gap: $gap-medium;
  }

  &__search {
    display: flex;
    align-items: center;
    flex-grow: 1;

    input {
      margin-right: $gap-small;
      width: 100%;
    }
  }

  &__filter {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
