@import '../_variables.scss';

.error-page {
  text-align: center;
  padding: $space-large;
  color: $color-error;

  h1 {
    font-size: $font-size-h1;
    margin-bottom: $space-large;
  }

  p {
    font-size: $font-size-body;
  }
}
