@import '../_variables.scss';

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-hero {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white-color;
  background: url('@/assets/background.jpg') center/cover no-repeat;
  margin-top: 0;

  .home-title {
    font-size: 4rem;
    margin-bottom: $gap-large;
  }

  .home-subtitle {
    font-size: $font-size-subline;
    color: $text-muted;
    margin-bottom: $gap-large;
  }
}

.movies-sections {
  padding: $padding-standard;

  .movies-section {
    margin-bottom: $margin-large * 2;

    h2 {
      font-size: $font-size-h2;
      color: $white-color;
      margin-bottom: $gap-medium;
    }
  }
}
