@import '../_variables.scss';

.movies-page {
  .movies-list {
    margin-bottom: $gap-large; // Space between movie list and pagination
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: $gap-large;
  }
}
