@import '../_variables';

.movie-page {
  padding: $padding-standard;

  .movie-header {
    display: flex;
    gap: $gap-medium;
    margin-bottom: $margin-large;

    .poster {
      flex: 0 0 300px;
      position: relative;

      img {
        width: 100%;
        border-radius: $border-radius;
      }

      .poster-actions {
        display: flex;
        justify-content: center;
        gap: $gap-medium;
        position: absolute;
        bottom: -50px; // Position the icons below the poster
        left: 50%;
        transform: translateX(-50%);
        width: auto;

        .toggle-button {
          background: none;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity 0.2s ease, fill 0.2s ease;

          .toggle-button-icon {
            width: 60px;
            height: 60px;
            fill: currentColor; // Ensure color sync with current state
            opacity: 0.7; // Default semitransparent state
          }

          &:hover .toggle-button-icon {
            opacity: 1; // Brighten on hover
          }

          &.active .toggle-button-icon {
            fill: $primary-color; // Active state color
            opacity: 1; // Full opacity for active state
          }
        }
      }
    }

    .info {
      flex-grow: 1;

      .title {
        font-size: $font-size-h1;
        margin-bottom: $margin-small;
        color: $primary-color;
      }

      .genres {
        font-size: $font-size-subline;
        color: $text-muted;
        margin-bottom: $margin-standard;
      }

      .details {
        display: flex;
        gap: $gap-small;
        margin-bottom: $margin-standard;

        .rating,
        .runtime,
        .release {
          font-size: $font-size-body;
        }
      }

      .overview {
        font-size: $font-size-body;
        line-height: 1.5;
      }
    }
  }

  .movie-meta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $gap-medium;

    .meta-section {
      h3 {
        font-size: $font-size-large;
        margin-bottom: $margin-small;
        color: $secondary-color;
      }

      p {
        font-size: $font-size-body;
        color: $white-color;
      }
    }
  }
}
