@import '../_variables';

.user-profile {
  padding: $space-large;
  background-color: $background-dark-gray;
  border-radius: $border-radius;
  box-shadow: $color-shadow;
  max-width: 600px;
  margin: $space-large auto;

  h1 {
    font-size: $font-size-large;
    color: $primary-color;
    margin-bottom: $space-medium;
    text-align: center;
  }

  &__info {
    background-color: $background-graphite;
    padding: $space-medium;
    border-radius: $border-radius;
    box-shadow: $color-shadow;
    text-align: center;

    p {
      font-size: $font-size-base;
      color: $text-muted-color;
      margin-bottom: $space-small;
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: $space-small;

      button {
        min-width: 120px;
      }
    }
  }
}
