// Primary Colors
$primary-color: #735BF2;
$primary2-color: #917CFF;
$secondary-color: #6D6D6D;

// Background Colors
$background-black: #121212;
$background-dark: #1C1C1E;
$background-graphite: #2C2C2E;

// Text Colors
$white-color: #FFFFFF;
$text-muted: #888888;

// Contextual Colors
$error-color: #F44336;
$green-color: #4CAF50;
$yellow-color: #FFCA28;
$orange-color: #FF5722;
$light-color: #C7C7C7;

// Border and Shadow Colors
$border-color: rgba(255, 255, 255, 0.2);
$shadow-color: rgba(0, 0, 0, 0.5);

// Font Variables
$font-family-primary: 'Exo 2', sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-subline: 1rem;
$font-size-body: 1rem;

// Spacing Variables
$padding-small: 8px;
$padding-standard: 20px;
$padding-large: 32px;
$margin-small: 8px;
$margin-standard: 16px;
$margin-large: 32px;
$gap-small: 8px;
$gap-medium: 16px;
$gap-large: 24px;

// Dimensions
$sidebar-width: 250px;
$border-radius: 4px;
