@import './_variables.scss';
@import '@fontsource/exo-2/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  background-color: $background-black;
  color: $text-color-white;
  min-height: 100%;
  line-height: 1.5;
}

a, button {
  text-decoration: none;
  color: inherit;
  border: none; 
  outline: none; 
  
  &:hover, &:focus {
    text-decoration: none;
    border: none; 
    outline: none; 
    box-shadow: none;
  }

  &:focus {
    border: none; 
    outline: none; 
    box-shadow: none;
  }
}


[aria-current] {
  border: none; 
  outline: none; 
  box-shadow: none; 
  
  &:hover, &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
