@import '../_variables';

.button {
  font-weight: bold;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &--small {
    padding: $padding-small;
    font-size: $font-size-small;
    height: 32px;
  }

  &--medium {
    padding: 0 1rem;
    font-size: $font-size-base;
    height: 40px;
  }

  &--large {
    padding: 0 1.5rem;
    font-size: $font-size-large;
    height: 48px;
  }

  &--primary {
    background-color: $primary-color;
    color: $white-color;
  }

  &--primary:hover:not(:disabled) {
    background-color: $primary2-color;
  }

  &--secondary {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  &--secondary:hover:not(:disabled) {
    background-color: $background-dark;
    color: $primary2-color;
    border: 1px solid $primary2-color;
  }

  &:disabled {
    background-color: $light-color;
    color: $background-graphite;
    cursor: not-allowed;
    border: none;
  }
}
