@import '../_variables';

.button {
  font-weight: bold;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  display: inline-flex; // Flexbox for alignment
  align-items: center; // Center-align text vertically
  justify-content: center; // Center-align text horizontally
  white-space: nowrap; // Prevent text wrapping
  box-sizing: border-box; // Include padding in the button size

  &--small {
    padding: $space-small $space-medium; // Top/Bottom: $space-small, Left/Right: $space-medium
    font-size: $font-size-small;
    height: 36px; // Standard height for small buttons
  }

  &--medium {
    padding: $space-small $space-large; // Top/Bottom: $space-small, Left/Right: $space-large
    font-size: $font-size-base;
    height: 48px; // Standard height for medium buttons
  }

  &--large {
    padding: $space-medium $space-xlarge; // Top/Bottom: $space-medium, Left/Right: $space-xlarge
    font-size: $font-size-large;
    height: 60px; // Standard height for large buttons
  }

  &--primary {
    background-color: $primary-color;
    color: $text-color-white;

    &:hover:not(:disabled) {
      background-color: $primary-faded-color;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover:not(:disabled) {
      background-color: $background-dark-gray;
      color: $primary-faded-color;
      border: 1px solid $primary-faded-color;
    }
  }

  &:disabled {
    background-color: $color-light-gray;
    color: $background-graphite;
    cursor: not-allowed;
    border: none;
  }
}
