@import '../_variables';

.nav-item {
  text-decoration: none;
  color: $white-color;
  transition: color 0.3s ease, fill 0.3s ease;

  &.active {
    color: $primary-color;
    font-weight: bold;
  }

  &:hover {
    color: $primary2-color;
  }

  .nav-item-icon {
    fill: currentColor;
    transition: fill 0.3s ease;
  }
}
