@import '../_variables';

.nav-item {
  text-decoration: none; /* Remove underline */
  color: $white-color; /* Default text color */
  transition: color 0.3s ease, fill 0.3s ease; /* Smooth transitions for hover and active states */

  &.active {
    color: $primary-color; /* Active state color */
    font-weight: bold; /* Bold text for active state */
  }

  &:hover {
    color: $primary2-color; /* Hover state color */
  }

  .nav-item-icon {
    fill: currentColor; /* Inherit text color for icon */
    transition: fill 0.3s ease; /* Smooth icon color transition */
  }
}
